@import 'components/variables';
@import 'components/mixins';
@import 'components/navbar';
@import 'components/recipeCard';
@import 'components/form';
@import 'components/search-dropdown';
@import 'components/admin-card';
@import 'components/message';
@import 'components/formAdd';
@import 'components/filterRecettes';
@import 'components/recetteDetail';
@import 'components/cookies';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $grey-light;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: $grey-dark;
  margin: 0;
  line-height: 1.6;
}
h1,h2{
  text-align: center;
}
.button-a, .filter-btn {
  @include card-button;
}